.BookingActiveList {
	width: 100%;
}

.scrollContainer {
	width: 100%;
	height: 10rem;
	border-radius: 1rem;
	background-color: var(--background-secondary-color);
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
}

.errorAndLoadingContainer {
	display: flex;
	width: 100%;
	min-height: 10rem;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	background-color: var(--background-secondary-color);
	-webkit-overflow-scrolling: touch;
}
