.CourtBooking {
	display: flex;
	overflow: hidden;
	height: 100%;
	flex-direction: column;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block-end: 0.625rem;
	padding-inline: 0.75rem;
}

.content {
	display: flex;
	flex-direction: column;
	padding: 0.75rem;
	gap: 1.5rem;
}

.footer {
	padding-block-start: 1rem;
}

.bookingButton {
	width: 100%;
}
