.CourtDetails {
	display: flex;
	overflow: hidden;
	height: 100%;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-block-end: 0.625rem;
}

.content {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 0.5rem;
	overflow-y: auto;
	padding-block-end: 0.625rem;
}

.image {
	width: 100%;
	height: 12rem;
	border-radius: 0.5rem;
	object-fit: cover;
}

.name {
}

.ratingContainer {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.ratingValue {
	color: var(--text-secondary);
	font-size: 0.875rem;
}

.description {
	color: var(--text-secondary);
}

.actionButtons {
	display: flex;
	gap: 0.75rem;
}

.actionButton {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.routeIcon {
	width: 1rem;
	height: 1rem;
	margin-right: 0.5rem;
}

.onlineList {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.onlineText {
	padding: 0;
	color: var(--text-color);
}

.scrollContainer {
	max-height: 13.75rem;
	padding: 0.625rem 0;
	border-radius: 1rem;
	background-color: var(--background-secondary-color);
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
}

.centeredContent {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.entriesList {
	width: 100%;
}

.spinner {
}

.errorText,
.noDataText {
	text-align: center;
}
