spring:
  application:
    name: gateway-server
  profiles:
    active: default
  cloud:
    config:
      url: http://localhost:8071
      enabled: true

    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      default-filters:
        - JwtAuthFilter

  config:
    import: "configserver:"

management:
  endpoints:
    web:
      exposure:
        include: health, info, refresh, mappings
    enabled-by-default: true