.OnlineEntryItem {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
	background-color: var(--background-secondary-color);
}

.timeContainer {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.time {
	color: var(--text-secondary);
}

.usersInfo {
	display: flex;
	align-items: center;
	gap: 4px;
}

.userCount {
	min-width: 1.25rem;
	text-align: center;
}
