.main-page {
	position: relative;
	width: 100%;
	height: 100%;
}

.avatar {
	position: absolute;
	top: 1rem;
	left: 1rem;
	display: flex;
	width: 3.125rem;
	height: 3.125rem;
	align-items: center;
	justify-content: center;
}

.filter {
	position: absolute;
	top: 1rem;
	right: 1rem;
	display: flex;
	min-width: 33%;
	height: 3.125rem;
	align-items: center;
}

.weatherForecast {
	position: absolute;
	z-index: 9;
	top: 50%;
	left: 1.25rem;
	width: auto;
	transform: translateY(-50%);
}
