.DatePicker {
	h3 {
		margin-bottom: 0.75rem;
		font-size: 0.875rem;
		font-weight: 600;
	}

	.DaysContainer {
		display: flex;
		padding-bottom: 0.5rem;
		gap: 0.2rem;
		overflow-x: auto;

		&::-webkit-scrollbar {
			height: 6px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 3px;
			background-color: rgb(0 0 0 / 20%);
		}
	}

	.DayCard {
		display: flex;
		width: 4rem;
		flex-direction: column;
		flex-shrink: 0;
		align-items: center;
		padding: 0.2rem;
		border: 1px solid transparent;
		border-radius: 0.5rem;
		cursor: pointer;
		gap: 0.25rem;
		transition: all 0.2s ease;

		&:not(.DayCard--disabled) {
			&:hover {
				background-color: var(--hover-max-color);
				transform: translateY(-2px);
			}

			&:active {
				transform: translateY(0);
			}
		}

		&--selected {
			border: 1px solid #fff;
			background-color: var(--hover-max-color);
			transform: translateY(-2px);
		}

		&--disabled {
			cursor: not-allowed;
			opacity: 50%;
		}
	}

	.DayLabel {
		font-size: 0.75rem;
		font-weight: 500;
	}

	.DayNumber {
		font-size: 1.125rem;
		font-weight: 700;
	}

	.DayMonth {
		color: var(--text-muted);
		font-size: 0.75rem;
	}
}
