.page {
	display: flex;
	overflow: hidden;
	height: 100dvh;
	flex-direction: column;
	padding: 1.25rem 0;
	overscroll-behavior: none;
}

.iconButtonWrapper {
	display: flex;
	width: 2rem;
	height: 2rem;
	align-items: center;
	justify-content: center;
	margin-inline-start: 1.25rem;
}

.header {
	width: 100%;
	box-sizing: border-box;
	flex-shrink: 0;
}

.content {
	width: 100%;
	max-height: calc(100dvh - 17.5rem);
	flex: 1;
	overflow-y: auto;
	overscroll-behavior: contain;
	padding-block-end: 1.25rem;
	padding-inline: 1.25rem;
}

.footerButton {
	width: 100%;
	flex-shrink: 0;
	padding: 0 1.25rem;
	padding-block-end: 1.25rem;
}
