.FieldCard {
	display: flex;
	border-radius: 0.375rem;
	border-block: 1px solid #1e1f24;
	cursor: pointer;
	gap: 0.75rem;
	transition: background-color 0.2s ease;

	&:hover {
	}
}

.image {
	width: 5rem;
	height: 5rem;
	flex-shrink: 0;
	border-radius: 1rem;
	object-fit: cover;
}

.content {
	display: flex;
	min-width: 0;
	flex: 1;
	flex-direction: column;
	justify-content: center;
}

.ratingContainer {
	display: flex;
	align-items: center;
	margin-bottom: 0.25rem;
	gap: 0.5rem;
}

.description {
	color: #ffffff70;
}
