@use "reset" as *;

@use "themes/normal" as *;

@use "themes/dark" as *;

html {
	font-size: 16px;

	--main-font: -apple-system, system-ui, "Helvetica Neue", roboto, sans-serif;
}

body {
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: none;
	touch-action: manipulation;
}

.app {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: var(--main-font);
}

.content-page {
	position: relative;
	width: 100%;
	height: 100%;
}

*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: rgb(0 0 0 / 20%);
}
