:root {
	--background-color: #17181c;
	--text-color: #e7e7e7;
	--background-secondary-color: #25262d;
	--hover-max-color: #e8e8e80a;
	--max-accent-color: #007bff;
	--max-accent-hover-color: #47a0ff;
}
