services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: sportpath_dev
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    networks:
      - microservices-network

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      microservices-network:
        aliases:
          - "redis"

  zookeeper:
    image: wurstmeister/zookeeper:latest
    container_name: zookeeper
    ports:
      - "2181:2181"
    networks:
      microservices-network:
        aliases:
          - "zookeeper"

  kafka:
    image: wurstmeister/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "entry-events:1:1,user-notifications:1:1"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    depends_on:
      - zookeeper
    networks:
      microservices-network:
        aliases:
          - "kafka"

  vault:
    image: hashicorp/vault:1.15.0
    container_name: vault
    ports:
      - "8200:8200"
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: root
      VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
      VAULT_ADDR: http://0.0.0.0:8200
    cap_add:
      - IPC_LOCK
    command: server -dev -dev-root-token-id="root"
    networks:
      - microservices-network

  config-server:
    build:
      context: ../configserver
      dockerfile: Dockerfile
    image: hackaton-max/configserver:0.0.1-SNAPSHOT
    container_name: config-server
    ports:
      - "8071:8071"
    environment:
      SPRING_PROFILES_ACTIVE: vault
      SPRING_CLOUD_CONFIG_SERVER_VAULT_HOST: vault
      SPRING_CLOUD_CONFIG_SERVER_VAULT_PORT: 8200
      SPRING_CLOUD_CONFIG_SERVER_VAULT_SCHEME: http
      SPRING_CLOUD_CONFIG_SERVER_VAULT_TOKEN: root
    depends_on:
      - vault
    networks:
      - microservices-network

  eureka-server:
    build:
      context: ../eurekaserver
      dockerfile: Dockerfile
    image: hackaton-max/eureka-server:0.0.1-SNAPSHOT
    container_name: eureka-server
    ports:
      - "8761:8761"
    environment:
      SPRING_PROFILES_ACTIVE: default
      SPRING_CLOUD_CONFIG_URI: http://config-server:8071
    depends_on:
      - config-server
    networks:
      - microservices-network

  gateway-server:
    build:
      context: ../gatewayserver
      dockerfile: Dockerfile
    image: hackaton-max/gateway-server:0.0.1-SNAPSHOT
    container_name: gateway-server
    ports:
      - "8072:8072"
    environment:
      SPRING_PROFILES_ACTIVE: default
      SPRING_CLOUD_CONFIG_URI: http://config-server:8071
    depends_on:
      - config-server
    networks:
      - microservices-network

  auth-service:
    build:
      context: ../auth
      dockerfile: Dockerfile
    image: hackaton-max/auth-service:0.0.1-SNAPSHOT
    container_name: auth-service
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: default
      SPRING_CLOUD_CONFIG_URI: http://config-server:8071
    depends_on:
      - config-server
    networks:
      - microservices-network

  courts-service:
    build:
      context: ../courts-ms
      dockerfile: Dockerfile
    image: hackaton-max/courts-service:0.0.1-SNAPSHOT
    container_name: courts-service
    ports:
      - "8083:8083"
    environment:
      SPRING_PROFILES_ACTIVE: default
      SPRING_CLOUD_CONFIG_URI: http://config-server:8071
    depends_on:
      - config-server
      - postgres
    networks:
      - microservices-network

  entry-service:
    build:
      context: ../entry-ms
      dockerfile: Dockerfile
    image: hackaton-max/entry-service:0.0.1-SNAPSHOT
    container_name: entry-service
    ports:
      - "8082:8082"
    environment:
      SPRING_PROFILES_ACTIVE: default
      SPRING_CLOUD_CONFIG_URI: http://config-server:8071
    depends_on:
      - config-server
      - postgres
      - kafka
    networks:
      - microservices-network

  notifications-service:
    build:
      context: ../notification-ms
      dockerfile: Dockerfile
    image: hackaton-max/notifications-service:0.0.1-SNAPSHOT
    container_name: notifications-service
    ports:
      - "8084:8084"
    environment:
      SPRING_PROFILES_ACTIVE: default
      SPRING_CLOUD_CONFIG_URI: http://config-server:8071
    depends_on:
      - config-server
      - kafka
      - redis
    networks:
      - microservices-network

  cloudpub:
    image: cloudpub/cloudpub:latest
    restart: unless-stopped
    environment:
      - TOKEN=RM3ha7wkleOeFvNHk0iiRDMunmOg7wzjdp6AUd8ZNFw
      - HTTP=gateway-server:8072
    command: run
    depends_on:
      - gateway-server
    volumes:
      - cloudpub-config:/home/cloudpub
    networks:
      - microservices-network

volumes:
  postgres_data:
  cloudpub-config:

networks:
  microservices-network:
    driver: bridge